<div class="visualization-base-div">
    <h2>{{visualizationTitle}}</h2>
    <main #visualizationContainer>

    </main>
    <div class="buttons">
        <button (click)="addNode(linkedList); renderLinkedList(linkedList, visualizationContainer)">Add Node</button>
        <button (click)="reverseList(linkedList); renderLinkedList(linkedList, visualizationContainer)">Reverse</button>
        <button>Test button 1</button>
        <button>Test button 1</button>
        <button>Test button 1</button>
        <button>Test button 1</button>
        <button>Test button 1</button>
        <button>Test button 1</button>
    </div>
</div>
